html,
body{
    background: #f4f4f4;
    height: 100%;
    margin: 0;
    position: relative;
}

header{
    align-items: center;
    background: #10a8ef;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}