<div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  {% if product.available %}
    {% if product.stock > 0 or settings.without_stock_sale %}
      {% if product.upon_request %}
          <p>Produto Sob Consulta</p>
      {% else %}        
        {% if product.price_offer > 0 and product.show_price %}
          <div class="price-before">
            <div itemprop="priceCurrency" content="BRL"><abbr class="currency" title="BRL">{{ settings.currency }}</abbr> {{ product.price|currency }}</div>
          </div>
          <div class="price-promotion">
            <div itemprop="offers" class="price-off" itemscope itemtype="http://schema.org/Offer">R$ {{ product.price_offer|currency  }}</div>
          </div>
        {% else %}
          <span itemprop="priceCurrency" content="BRL" class="price-promotion">R$ {{ product.price|currency }}</span>
        {% endif %}
      {% endif %}
    {% else %} 
      <p>Esgotado!</p>
    {% endif %} 
  {% endif %}
</div>